@media (max-width: 700px) {

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .heading h2 {
    font-size: 18px;
  }

  .content {
    width: 100%;
  }

  .salon {
    width: 100%;
  }

}
