* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

header {
  height: 80px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: sticky;
  top: 0;
  z-index: 10;
  padding-bottom: 10px;
}

.header-left {
  float: left;
  color: white;
}

.header-left span {
  font-size: 18px;
  padding-left: 10px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.header-right {
  float: right;
  padding-top: 30px;
  padding-right: 30px;
}

.header-right a {
  color: white;
  padding-right: 30px;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding-top: 180px;
  padding-bottom: 100px;
  background-image: url(./img/top.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper p {
}

.contents-wrapper {
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding: 30px 0 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.content {
  float: left;
  width: 33%;
}

.content img {
   max-width: 90%;
   max-height: 250px;
   height: auto;
}

.content-txt {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  color: black;
}

.service-wrapper {
  text-align: center;
  padding-bottom: 30px;
}

.heading h3 {
  padding-bottom: 10px;
  font-size: 32px;
}

.heading p {
}

.chara {
  text-decoration: underline;
  font-size: 18px;
}

.chara span{
  font-size: 14px;
}

.salon-wrapper {
  text-align: center;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}

.salon-jump {
  padding-top: 30px;
  height: 100px;
  width: 100%;
  text-decoration: underline;
}

.salon-jump a {
  color: black;
  padding-right: 30px;
}

.salon {
  float: left;
  width: 50%;
  padding-top: 30px;
}

.salon img {
   max-width: 90%;
   max-height: 250px;
   height: auto;
}

.salon-name {
  width: 80%;
  font-size: 20px;
  display: inline-block;
}

.salon-url {
  width: 80%;
  font-size: 16px;
  display: inline-block;
}

.salon-txt {
  width: 80%;
  display: inline-block;
}

footer {
  background-color: rgba(34, 49, 52, 0.9);
  color: white;
  padding: 30px 0 15px;
  text-align: center;
}

.clear {
  clear:  left;
}
