* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

header {
  height: 80px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: sticky;
  top: 0;
  z-index: 10;
  padding-bottom: 10px;
}

.header-left {
  float: left;
  color: white;
}

.header-left span {
  font-size: 18px;
  padding-left: 10px;
}

.header-right {
  float: right;
  padding-top: 30px;
  padding-right: 30px;
}

.header-right a {
  color: white;
  padding-right: 30px;
  text-decoration: underline;
}

.top-wrapper {
  padding-top: 180px;
  padding-bottom: 100px;
  background-image: url(./img/contents/top.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.button-a {
  display: inline-block;
  width: 200px;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  background-color: #9966CC;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.msg-wrapper {
  text-align: center;
  padding: 30px 15px;
  background-color: #f7f7f7;
}

.contents-wrapper {
  padding-bottom: 80px;
  background-color: #fff;
  text-align: center;
}

.heading {
  padding-top: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.heading span {
  font-size: 12px;
}

.content {
  float: left;
  width: 33%;
}

.content img {
   max-width: 90%;
   max-height: 250px;
   height: auto;
}

.content-txt {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  color: black;
}

.heading h3 {
  padding-bottom: 10px;
  font-size: 32px;
}

.heading p {
  font-size: 12px;
}

.salon-wrapper {
  text-align: center;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}

.salon-jump {
  padding-top: 30px;
  height: 100px;
  width: 100%;
  text-decoration: underline;
}

.salon-jump a {
  color: black;
  padding-right: 30px;
}

.how-to {
  width: 600px;
  margin: 0 auto;
}

.how-to h2 {
  text-decoration: underline;
}

.how-to ul {
  list-style: none;
  text-align: left;
  }

.small {
  font-size: 12px;
}

.salon {
  float: left;
  width: 50%;
  padding-top: 30px;
}

.salon img {
   max-width: 90%;
   max-height: 250px;
   height: auto;
}

.salon-name {
  width: 80%;
  font-size: 20px;
  display: inline-block;
  margin-top: 15px;
  line-height: 15px;
}

.salon-name p {
  font-size: 14px;
}

.salon-address {
  font-size: 14px;
  line-height: 15px;
}

.button-b {
  display: inline-block;
  width: 200px;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  background-color: #9966CC;
  color: #f0f0f0;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 0.9rem;
}


.salon a {
  display: inline-block;
}

footer {
  background-color: rgba(34, 49, 52, 0.9);
  color: white;
  padding: 30px 0 15px;
  text-align: center;
}

.clear {
  clear:  left;
}
